#Modal{
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputBtn{
  height: 70%;
  width: 40%;
}
input[type="text"]{
  width: 100%;
}
.modal{
  display: block;
  position:fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}
.form-content{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 50%;
  width: 30%;
}
.mid-form-div{
  display: flex;
  justify-content: space-between;
  height: 30%;
}
.mid-form-left,
.mid-form-right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  font-size: 250%;
}
.lower-form-div{
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upper-form-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30%;
  width: 100%;
  font-size:250%;
}
