html{
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  padding:0;
  margin:0 auto;
  background:url("images/iJ0WavC.jpg");
}
#wrapper{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin:0 auto;
}
#content-wrapper{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#content-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 30%;
  height: 50%;
  border: 1px solid rgb(0,0,0);
  border-radius: 2%;
  background-color: rgba(255, 250, 250, 0.5);
  box-shadow: 4px 10px 10px 1px rgb(0,0,0);
  padding: 2%;
}
.choiceBox{
  width: 30%;
  height: auto;
  background-color:rgba(255,250,250,0);
  border:none;
  font-size: 8em;
}
.choiceBox:focus{
  outline:0;
}
.upper-mid-box-border,
.lower-mid-box-border{
  border-left: 5px solid rgb(0,0,0);
  border-right: 5px solid rgb(0,0,0);
}
.top-bottom-border{
  border-top: 5px solid rgb(0,0,0);
  border-bottom: 5px solid rgb(0,0,0);
}
.mid-box-border{
  border:5px solid rgb(0,0,0);
}
